:root {
  --bg-main: #040b14;
  --bg-main-second: #149ddd;
  --txt-color: #a8a9b4;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: var(--bg-main);
  overflow-y: auto;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  /* -moz-text-align-last: center;
  text-align-last: center; */
  text-align: center;
  font-family: "Poppins", sans-serif;
}
#header .profile .social-links a {
  display: inline-block;
  font-size: 18px;
  background: #2c2f3f;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .profile .social-links a:nth-child(1):hover {
  background: var(--bg-main-second);
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a:nth-child(2):hover {
  background: #1877f2;
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a:nth-child(3):hover {
  background: #000000;
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a:nth-child(4):hover {
  background: #f10000;
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a:nth-child(5):hover {
  background: #000000;
  color: #fff;
  text-decoration: none;
}
#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#main {
  margin-left: 300px;
}
@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}
/* Navigation Menu */
.nav-menu {
  padding-top: 30px;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a {
  display: flex;
  align-items: center;
  color: var(--txt-color);
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a:hover,
.nav-menu a.active > a,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}
.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color: var(--bg-main-second);
}
/* Mobile Navigation Menu */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}
.mobile-nav-toggle i {
  color: var(--bg-main-second);
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/* Hero Section */
#hero {
  width: 100%;
  height: 100vh;

  background: url("../img/hero-bg2.jfif") top center;
  background-size: cover;
  object-fit: cover;
}
/* before */
#hero::before {
  content: " ";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background: rgba(5, 13, 24, 0.3);
}
#hero .hero-container {
  position: relative;
  z-index: 2;

  min-width: 300px;
}
#hero h1 {
  margin: 0 0 10px 0;

  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero p {
  margin-bottom: 50px;

  color: #fff;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  padding-bottom: 4px;

  color: #fff;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--bg-main-second);
}
/* Responsive-Hero-Section */
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (min-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 24px;
  }
}
/* About Section */
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-title h2 {
  position: relative;

  margin-bottom: 20px;
  padding-bottom: 20px;

  font-size: 32px;
  font-weight: bold;
  color: #173b6c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 50px;
  height: 3px;

  background: var(--bg-main-second);
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul i {
  padding-right: 2px;

  font-size: 20px;
  color: var(--bg-main-second);
}
.about .content p:last-child {
  padding-bottom: 0;
}
/* Skills Bar */
.skills .progress {
  display: block;

  height: 50px;

  background: none;
}
.skills .progress .skill {
  display: block;

  padding: 10px 0;
  margin: 0 0 6px 0;

  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skill .progress-bar-warp {
  background: #dce8f8;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;

  background: var(--bg-main-second);

  transition: 0.9s;
}
