:root {
  --bg-main: #040b14;
  --bg-main-second: #149ddd;
  --txt-color: #a8a9b4;
}
html {
  scroll-behavior: smooth;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: var(--bg-main);
  overflow-y: auto;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  /* -moz-text-align-last: center;
  text-align-last: center; */
  text-align: center;
  font-family: "Poppins", sans-serif;
}
#header .profile .social-links a {
  display: inline-block;
  font-size: 18px;
  background: #2c2f3f;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .profile .social-links a:nth-child(1):hover {
  background: var(--bg-main-second);
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a:nth-child(2):hover {
  background: #1877f2;
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a:nth-child(3):hover {
  background: #000000;
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a:nth-child(4):hover {
  background: #f10000;
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a:nth-child(5):hover {
  background: #000000;
  color: #fff;
  text-decoration: none;
}
#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#main {
  margin-left: 300px;
}
@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}
/* Navigation Menu */
.nav-menu {
  padding-top: 30px;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a {
  display: flex;
  align-items: center;
  color: var(--txt-color);
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a:hover,
.nav-menu a.active > a,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}
.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color: var(--bg-main-second);
}
/* Mobile Navigation Menu */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}
.mobile-nav-toggle i {
  color: var(--bg-main-second);
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/* Hero Section */
#hero {
  width: 100%;
  height: 100vh;

  background: url("../img/hero-bg2.jfif") top center;
  background-size: cover;
  object-fit: cover;
}
/* before */
#hero::before {
  content: " ";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background: rgba(5, 13, 24, 0.3);
}
#hero .hero-container {
  position: relative;
  z-index: 2;

  min-width: 300px;
}
#hero h1 {
  margin: 0 0 10px 0;

  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero p {
  margin-bottom: 50px;

  color: #fff;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  padding-bottom: 4px;

  color: #fff;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--bg-main-second);
}
/* Responsive-Hero-Section */
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (min-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 24px;
  }
}
/* About Section */
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-bg {
  background: #f5f8fd;
}
.section-title h2 {
  position: relative;

  margin-bottom: 20px;
  padding-bottom: 20px;

  font-size: 32px;
  font-weight: bold;
  color: #173b6c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 50px;
  height: 3px;

  background: var(--bg-main-second);
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul i {
  padding-right: 2px;

  font-size: 20px;
  color: var(--bg-main-second);
}
.about .content p:last-child {
  padding-bottom: 0;
}
/* Skills Bar */
.skills .progress {
  display: block;

  height: 50px;

  background: none;
}
.skills .progress .skill {
  display: block;

  padding: 10px 0;
  margin: 0 0 6px 0;

  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skill .progress-bar-warp {
  background: #dce8f8;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;

  background: var(--bg-main-second);

  transition: 0.9s;
}
/* Resume Section */
.wrapper {
  position: relative;

  margin: 50px auto;
  padding: 0 20px;
}
.wrapper .center-line {
  position: absolute;
  left: 50%;
  top: 20px;

  height: 100%;
  width: 4px;

  background: var(--bg-main-second);

  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
  justify-content: flex-start;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row .section-resume {
  position: relative;

  width: calc(50% - 40px);
  padding: 10px;
  overflow: unset;

  background: #fff;
  color: #000000;

  border-radius: 5px;
  border: 3px solid var(--bg-main-second);
}
.wrapper .row .section-resume::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 28px;

  width: 15px;
  height: 15px;

  background: #149ddd;

  transform: rotate(45deg);
}
.row-1 .section-resume::before {
  right: -7px;
}
.row-2 .section-resume::before {
  left: -7px;
}
.row .section-resume i,
.center-line .scroll-icon {
  position: absolute;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 25px;

  background: var(--bg-main-second);
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;

  transform: translateX(-50%);
}
.row-1 .section-resume i {
  top: 13px;
  right: -63px;
}
.row-2 .section-resume i {
  top: 13px;
  left: -63px;
}
.row .section-resume .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row .section-resume .details .title {
  font-size: 22px;
  font-weight: 600;
  color: var(--bg-main-second);
}
.row .section-resume .details .date {
  color: #7f8c8d;
}
.row .section-resume p {
  margin: 10px 0 17px 0;
}
@media (max-width: 772px) {
  .wrapper .center-line {
    left: 30px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row .section-resume {
    width: 100%;
  }
  .row-1 .section-resume::before {
    left: -7px;
  }
  .row-1 .section-resume i {
    left: -73px;
  }
  .row-2 .section-resume i {
    left: -73px;
  }
}
/* Portfolio Section */
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-filters {
  margin: 0 auto 35px auto;
  border-radius: 50px;
  padding: 2px 15px;

  list-style: none;
  text-align: center;
  background: #fff;
}
.portfolio #portfolio-filters li {
  display: inline-block;

  padding: 10px 15px 8px 15px;
  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
  color: #149ddd;
}
.portfolio #portfolio-filters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  position: relative;
  overflow: hidden;
  z-index: 1;

  transition: 0.3s;
}
.portfolio .portfolio-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  background: rgba(0, 0, 0, 0.5);

  transition: all ease-in-out 0.3s;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;

  display: flex;
  justify-content: center;

  transition: all ease-in-out 0.3s;
  opacity: 1;
}
.portfolio .portfolio-wrap .portfolio-links a {
  width: 50%;

  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);

  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #37b3ed;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}
/* Contact */
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}
